---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout"
;

.page-content .subimg {
  display: block;
  margin: auto;
  width: 30%; }

img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
 }

 .site-header-container .scrim, .post-header-container .scrim {
  padding: 1em 1em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", "Noto Sans JP", "Helvetica Neue", "Roboto Slab", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 0px;
 }